.swipeButtons {
  display: flex;
  bottom: 5vh;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: orange !important;
}
.swipeButtons__left {
  padding: 3vw !important;
  color: red !important;
}

.swipeButtons__right {
  padding: 3vw !important;
  color: rgb(149, 202, 98) !important;
}

/* Default button size for small screens */
.swipeButtons .MuiIconButton-root {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
  padding: 4vw !important;
}

/* Increase button size for medium screens */
@media (min-width: 768px) {
  .swipeButtons .MuiIconButton-root {
    padding: 3vw !important;
  }
}

/* Increase button size for large screens */
@media (min-width: 1024px) {
  .swipeButtons .MuiIconButton-root {
    padding: 3vw !important;
  }
}
